@(message: String)

  @main("Realty datastore") {

    <h3>A storage area for data:</h3>

    <p>You can use the following operations:</p>
    <table class="table table-bordered">
      <tr>
        <th>HTTP OPERATION</th>
        <th>URL</th>
        <th>DESCRIPTION</th>
      </tr>
      <tr>
        <td>POST</td>
        <td>/store/:key</td>
        <td>Create file at key location, put file in multipart and call it 'document'</td>
      </tr>
      <tr>
        <td>GET</td>
        <td>/store/:key</td>
        <td> Fetch file at key location</td>
      </tr>
      <tr>
        <td>DELETE</td>
        <td>/store/:key</td>
        <td>Delete file at key location</td>
      </tr>
    </table>
  }