@(files: java.util.List[utils.FileInfo])

@main("Realty datastore") {
  <div id="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">

        <p>A list of the operations supported by this component</p>
        <table class="table table-bordered">
          <tr>
            <th>HTTP OPERATION</th>
            <th>URL</th>
            <th>DESCRIPTION</th>
          </tr>
          <tr>
            <td>POST</td>
            <td>/store/:key</td>
            <td>Create file at key location, put file in multipart and call it 'document'</td>
          </tr>
          <tr>
            <td>GET</td>
            <td>/store/:key</td>
            <td> Fetch file at key location</td>
          </tr>
          <tr>
            <td>DELETE</td>
            <td>/store/:key</td>
            <td>Delete file at key location</td>
          </tr>
        </table>
        <br/>
        <h3>The files currently stored</h3>
        <br/>
        <table class="table">
          <tr>
            <th>Filename</th>
            <th>Size</th>
            <th>Last modified</th>
            <th></th>
          </tr>
          @files.map { file =>
            <tr id="@file.counter">
              <td>@file.name</td>
              <td>@file.size</td>
              <td>@file.timestamp</td>
              <td>
                <a class="btn btn-info" href="@routes.Application.fetch(file.name)" title="Fetch the file from disk">
                  Fetch</a>
                <a class="btn btn-danger" href="#" title="Delete the file from disk" onclick="deleteFile('@file.name', @file.counter);">
                  Delete</a>
              </td>
            </tr>
          }
        </table>
      </div>
    </div>
  </div>
  <script>
  function deleteFile(key, counter) {
    $.ajax({
      type: "DELETE",
      url: "/store/" + key,
      success : function ( data ) {
        $('#' + counter).delay(100).fadeOut();
      },
      error: function (xhr, ajaxOptions, thrownError) {
        alert(xhr.responseText) ;
      }
    });
  }
  </script>

}

